<div class="container-fluid body-content">
	<div class="row-fluid">
		<div class="span4">
			<h3>CLOTHES</h3>
		</div>
		<div class="span4">
			<h3>ACCESSORIES</h3>
		</div>
		<div class="span4">
			<h3>SHOES</h3>
		</div>
	</div>
	<div class="row-fluid">
	</div>
	<div class="row-fluid">
	</div>
	<div class="row-fluid">
		<div class="span4">
			<p>
				<%= link_to image_tag("clothes.jpg", alt: "Clothes", height: "100", width: "100"), '#' %>
			</p>
		</div>
		<div class="span4">
			<p>
				<%= link_to image_tag("accessories.jpg", alt: "Accessories", height: "100", width: "100"), '#' %>
			</p>
		</div>
		<div class="span4">
			<p>
				<%= link_to image_tag("shoes.jpg", alt: "Shoes", height: "100", width: "100"), '#' %>
			</p>
		</div>
	</div>
</div>
