<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">STARKE MADCHEN</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li id="fat-menu" class="dropdown">
              				<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
              					Sign In <b class="caret"></b>
              				</a>
              				<div class="dropdown-menu">
								<form>
									<input type="text" class="input-small" placeholder="Email">
									<input type="password" class="input-small" placeholder="Password">
									<div><input type="checkbox">Remember Me</div>
									<button type="submit" class="btn-small">Sign In</button>
								</form>
							</div>
            			</li>
						<li class="divider-vertical">
						</li>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Create Account<b class="caret"></b>
							</a>
							<div class="dropdown-menu">
								<form>
									<input type="text" class="input-small" placeholder="FirstName">
									<input type="text" class="input-small" placeholder="LastName">
									<input type="text" class="input-small" placeholder="Email">
									<input type="password" class="input-small" placeholder="Password">
									<button type="SignUp" class="btn-small">Sign Up</button>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
