<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.body-head
		{
			margin: 10px; padding:10px;border-color:#CCCCCC; border-style:hidden
		}
		.body-content
		{
			text-align:center;
			padding: 50px;
		}
		.btn-small
		{
			height: 25px; padding: 0px; text-align: center; width:auto; background:#999999
		}
		.input-small
		{
			height: 10px; background:#CCCCCC
		}
	</style>
  	<title>StarkeMadchen</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	
</head>
<body class="page-style">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">STARKE MADCHEN</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li class="drop down" id="accountmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<b class="caret"></b></a>
							<div class="dropdown-menu">
								<form>
									<input type="text" class="input-small" placeholder="Email">
									<input type="password" class="input-small" placeholder="Password">
									<input type="checkbox">Remember Me
									<button type="submit" class="btn-small">Sign In</button>
								</form>
							</div>
						</li>
						<li class="divider-vertical">
						</li>
						<li class="drop down">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">Create Account<b class="caret"></b></a>
							<div class="dropdown-menu">
								<form>
									<input type="text" class="input-small" placeholder="FirstName">
									<input type="text" class="input-small" placeholder="LastName">
									<input type="text" class="input-small" placeholder="Email">
									<input type"password" class="input-small" placeholder="Password">
									<button type="submit" class="btn-small">CreateAccount</button>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
	
<%= yield %>

</body>
</html>