<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.main-body
		{
			background-color: #804040;
		}
		.span6 h1
		{
			font-weight: bold;
			padding: 30px; 
			text-align: center;
			font-family:Geneva;
  			font-size: 35px;
  			color: #ffffff;
		}
		.btn-small
		{
			height: 25px; padding: 0px; text-align: center;
		}
		.input-smallest
		{
			padding: 0px; margin: 2px; width: 80px;
		}
	</style>
  <title>StarkeMadchen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="main-body">
	<div class="container">
		<div class="row">
			<div class="span3">
				<form class="right">
					<input type="text" class="input-smallest" placeholder="Email">
					<input type="text" class="input-smallest" placeholder="FirstName">
					<input type="text" class="input-smallest" placeholder="LastName">
					<input type="password" class="input-smallest" placeholder="Password">
					<button type="submit" class="btn-small">Create Account</button>
				</form>
			</div>
			<div class="span6">
				<h1>STARKE MADCHEN</h1>
			</div>
			<div class="span3">
				<form class="right">
					<input type="text" class="input-smallest" placeholder="Email">
					<input type="password" class="input-smallest" placeholder="Password">
					<label class="checkbox">
						<input type="checkbox">Remember me
					</label>
					<button type="submit" class="btn-small">Sign In</button>
				</form>
			</div>
			<div class="nav pull-right">
				<form>
					<input type="text" class="input-small search-query ">
					<button type="submit" class="btn-small">Search</button>
				</form>
			</div>
		</div>	
	</div>

<%= yield %>

</body>
</html>
