<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.page-style
		{
			background-color: #804040;	
		}
		.body-head
		{
			margin: 20px; 
		}
		.body-content
		{
			margin:40px;
			text-align:center;
		}
		.row
		{
			text-align: center;	
		}
		.span6 h1
		{
			font-weight: bold;
			padding: 30px; 
			text-align: center;
			font-family:Geneva;
  			font-size: 35px;
  			color: #ffffff;
		}
		.btn-small
		{
			height: 25px; padding: 0px; text-align: center; width:auto
		}
		
		.input-small
		{
			height: 10px;
		}
	</style>
  <title>StarkeMadchen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="page-style">
	<div class="body-head">
		<div class="container-fluid" style="padding:0px;margin:0px;">
			<div class="row-fluid">
				<div class="span3">
					<form class="navbar pull-left" style="margin-left:20px">
						<div class="row">
							<input type="text" class="input-small" placeholder="FirstName">
							<input type="text" class="input-small" placeholder="LastName">
						</div>
						<div class="row">
							<input type="text" class="input-small" placeholder="Email">
							<input type="password" class="input-small" placeholder="Password">
						</div>
						<div class="row">
							<button type="submit" class="btn-small">Create Account</button>
						</div>
					</form>
				</div>
				<div class="span6">
					<h1>STARKE MADCHEN</h1>
				</div>
				<div class="span3">
					<div class="row">
						<form class="nav pull-right">
							<div class="row">
							<input type="text" class="input-small" placeholder="Email">
							<input type="password" class="input-small" placeholder="Password">
							</div>
							<div class="row">
							<input type="checkbox">Remember me
							</div>
							<div class="row">
								<button type="submit" class="btn-small">Sign In</button>
							</div>
						</form>	
					</div>
					<div class="row">
						<div class="nav pull-right">
							<form>
								<input type="text" class="search-query" style="height: 10px; width: 110px;">
								<button type="submit" class="btn-small">Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= yield %>

</body>
</html>
